.containerListItems {
  width: 450px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(148, 183, 247);
  margin-top: 20px;
  border: 5px solid silver;
  border-radius: 20px;
  border-style: inset;
}

@media (max-width: 650px) {
  .containerListItems {
    width: 200px;
  }
}
