h2 {
	color: #0a1063;
}

.forModifier {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.containerModifierTitle {
	height: 2em;
	border-radius: 10px;
	margin: 1em;
	width: 30em;
	text-align: center;
	border: 3px solid silver;
	border-style: inset;
}

.containerModifierTask {
	height: 8em;
	border-radius: 10px;
	margin: 1em;
	width: 30em;
	text-align: center;
	border: 3px solid silver;
	border-style: inset;
}

.buttonModifier {
	height: 4em;
	border-radius: 25px;
	margin-top: 2em;
	width: 12em;
	background-color: aqua;
	border: 5px solid silver;
	border-style: outset;
	box-shadow: 3px 3px 5px;
	font-weight: bold;
	font-size: 1.05em;
}

.containerModifierDate {
	height: 3em;
	border-radius: 10px;
	margin: 1em;
	width: 30em;
	text-align: center;
	border: 3px solid silver;
	border-style: inset;
}

.buttonModifier:active {
	border-style: inset;
	background-color: rgb(125, 218, 218);
}