body {
  background-color: rgb(112, 99, 236);
  display: flex;
  text-align: center;
  justify-content: center;
}

.App {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border: 10px solid silver;
  border-radius: 20px;
  background-color: #3843dd;
  padding: 15px;
  border-style: outset;
  box-shadow: 3px 3px 5px;
}

@media (width <= 650px) {
  .App {
    width: 350px;
  }
}
